@import url( "../fonts/awesome/font-awesome.min.css");

@font-face{
	font-family: 'gothemBol';
	src: url('../fonts/GothaProBol.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'gothem';
	src: url('../fonts/GothaProReg.otf');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'gothem';
	font-size: 12px;
	color: #ffffff;
}

/**
 *	text
 */
.p-bold {
	font-weight: 700;
}
.p-orage {
	color: #ff8b38;
}
.b-orage {
	background-color: #ff9b51;
}
/**
 *	buttons
 */
button:hover {
	cursor: pointer;
}
.trasp-border {
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 0;
	color: #ffffff;
	padding: 0.8em 2.5em 0.7em;
}

/**
 *	header
 */
header {
	position: fixed;
	width: 100vw;
	z-index: 5000;
}
#header-menu {
	background-color: #000000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/**
 *	header menu
 */
.navbar-toggler {
	border-color: #b0b0b0;
}
header .nav-item {
	margin-left: 2em;
}
header .active .nav-link {
	color: #ff9b51 !important;
}
header .nav-item:first-of-type {
	margin-left: 0;
}
header .nav-item:hover {
	cursor: pointer;
}
header .nav-item:hover>.nav-link {
	color: #ffffff !important;
}
header .nav-link {
	font-size: 1em;
	color: #b0b0b0 !important;
}


/**
 *
 */
#sec-1 {
	background: url( '../img/bck_sec1.png' ) no-repeat top center;
	background-size: 100% 100%;
	padding-top: 15em;
	height: 100vh;
}
.logo-txt {
	font-size: 4.8em;
}
.logo-txt span:first-of-type {
	font-family: 'gothemBol';
}
.logo-txt span:last-of-type {
	color: #ff8b38;
}
.big-white {
	font-size: 2.15em;
	padding-bottom: 1.4em;
    margin-bottom: 1.3rem;
}
.white-divider {
	background: url( '../img/white_divider.png' ) no-repeat bottom left;
}
.transp-white {
	color: rgba( 256, 256, 256, 0.8 );
    margin-bottom: 2rem;
}

.form-pass {
	border-radius: 3px;
	background-color: #ffffff;
	margin: 3em 0 0 2em;
}
.form-pass-title {
	font-size: 1.25em;
	color: #000000;
	text-align: center;
	padding-top: 1.7em;
}
.form-pass form {
	padding: 1.7em 1.7em 0 1.7em;
}
.form-pass input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 1.8em;
}
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=text]::-moz-placeholder {
	color: #e7e7e7;
}
.form-pass .b-orage {
	text-align: center;
	padding: 1.5em 0 1.3em 0;
}

.so-media {
	padding-top: 1.92em;
	padding-left: 0 !important;
	padding-bottom: 4em;
	margin-left: -15px;
	position: absolute;
	bottom: 0;
	background-color: rgba( 256, 256, 256, 0.5 );
}
.so-media p:first-of-type {
	color: #27292e;
	font-size: 1.25em;
	font-weight: 700;
	margin-bottom: 0.2em;
}
.so-media p:last-of-type {
	color: rgba( 0, 0, 0, 0.5 );
}
.so-media .fa {
	font-size: 3.75em;
	color: rgba( 0, 0, 0, 0.2 );
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
.so-media .fa:hover {
	cursor: pointer;
	color:	#ffffff;
}
/**
 *
 */
@media only screen and (max-width: 1199px) { }

@media only and (min-device-width: 768px)
	and (max-device-width: 1024px) {
		
	header .nav-item {
		margin-left: 0;
	}		
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
		
	header .nav-item {
		margin-left: 0 !important;
		color: red !important;
	}		
}

@media only screen and (max-width: 767px) {
	header .nav-item {
		margin-left: 0;
	}		
}

@media only screen and (max-width : 480px) {
		
	header .nav-item {
		margin-left: 0 !important;
	}
	
	.form-pass {
		margin-left: 0;
	}

	#sec-1 {
		height: auto;
	}
	.so-media {
		padding-left: 15px !important;
		margin-left: auto;
		position: static;
		bottom: 0;
	}

}


